.recipe {
  cursor: pointer;
}

.recipe {
  margin-bottom: 7px;
}

.pull-left h4, .pull-left p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pull-left {
  width: calc(100% - 65px);
}

.list-group-item .pull-right img {
  max-width: 60px;
  max-height: 50px;
}

.mini-img {
  border-radius: 4px;
}
